@model DiarySchema.Models.Teachers

@{
    Layout = "~/Views/Shared/_LayoutAdminAdd.cshtml";
}

<main>
    <div class="row" style="padding-top: 30px;padding-bottom: 30px;">
        <div class="container">
            <h1 align="center">Преподаватель</h1>
            <div class="container col-xs-6 col-xs-offset-3" style="border:solid; background-color:#93FE83; padding:10px; border-radius: 20px;">
               @using (Html.BeginForm("AddLecturers", "Admin", FormMethod.Post, new { name = "ValidationForm", role = "form", data_toggle = "validator", novalidate = "true", id = "addAdmin" }))
               {
                @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="control-label col-xs-6" for="FullName">Ф. И. О.:</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" id="FullName" name="FullName" placeholder="Введите Ф. И. О." required pattern="^[А-Яа-яЁё\s]+$" title="Ввод только руcскими буквами" data-error="Ввод только руcскими буквами">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-6" for="Departament">Кафедра:</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" id="Departament" name="Departament" placeholder="Введите кафедру" required pattern="^[А-Яа-яЁё\s]+$" title="Ввод только руcскими буквами" data-error="Ввод только руcскими буквами">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="control-label col-xs-6" for="UserName">UserName:</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Введите UserName" required pattern="^[А-Яа-яЁё\s]+$" title="Ввод только руcскими буквами" data-error="Ввод только руcскими буквами">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>*@
                    <div class="col-xs-9 col-xs-offset-3">
                        <button type="submit" class="btn btn-primary" value="Create" id="add">Добавить</button>
                        <button type="submit" class="btn btn-danger" id="addYet">Добавить еще</button>
                        <button type="reset" class="btn btn-default" id='reset'>Очисить форму</button>
                    </div>
               }
            </div>
        </div>
    </div>
</main>

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddLecturers</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Teachers</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Departament, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Departament, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Departament, "", new { @class = "text-danger" })
                </div>
            </div>
    
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>*@
