@model DiarySchema.Models.Students

@{
    Layout = "~/Views/Shared/_LayoutAdminAdd.cshtml";
}

<main>
    <div class="row" style="padding-top: 30px;padding-bottom: 30px;">
        <div class="container">
            <h1 align="center">Студент</h1>
            <div class="container col-xs-6 col-xs-offset-3" style="border:solid; background-color:#93FE83; padding:10px; border-radius: 20px;">
                @using (Html.BeginForm())
                {
                    @*@Html.AntiForgeryToken()*@
                    <div class="form-group">
                        <p class="control-label col-xs-6">№:</p>
                        <div class="col-xs-6">
                            <p>@Model.Number</p>
                            @*<input type="text" class="form-control" id="Number" name="Number" placeholder="№" required pattern="\d{6}" title="только 6 цифр" data-error="только 6 цифр">
                            <div class="help-block with-errors"></div>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="control-label col-xs-6">Ф. И. О.:</p>
                        <div class="col-xs-6">
                            <p>@Model.FullName</p>
                            @*<input type="text" class="form-control" id="FullName" name="FullName" placeholder="Введите Ф. И. О." required pattern="^[А-Яа-яЁё\s]+$" title="Ввод только руcскими буквами" data-error="Ввод только руcскими буквами">
                            <div class="help-block with-errors"></div>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="control-label col-xs-6">Год рождения:</p>
                        <div class="col-xs-6">
                            <p>@Model.YearOfBirth</p>
                            @*<input type="number" class="form-control" id="YearOfBirth" name="YearOfBirth" placeholder="Введите год рождения" required min="1930" max="2020" title="Год рождения в интервале 1930-2020" data-error="Год рождения в интервале 1930-2020">
                            <div class="help-block with-errors"></div>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="control-label col-xs-6" >Номер группы:</p>
                        <div class="col-xs-6">
                            <p>@Model.GroupId</p>
                            @*@Html.DropDownListFor(m => Model.GroupId, ViewBag.Groups as SelectList, new { @class = "form-control", title = "год рождения в интервале 1930-2020", required = "required" })
                            <div class="help-block with-errors"></div>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="control-label col-xs-6">Адрес электронной почты:</p>
                        <div class="col-xs-6">
                            <p>@Model.Email</p>
                            @*<input type="email" class="form-control" id="Email" name="Email" placeholder="Введите адрес электронной почты" data-error="Введите адрес электронной почты">
                            <div class="help-block with-errors"></div>*@
                        </div>
                    </div>
                    <div class="col-xs-9 col-xs-offset-6">
                        <input type="hidden" value=@ViewBag.Id name="Id" />
                        <input type="submit" value="Удалить" class="btn btn-danger" />
                        @*<button type="submit" value="Create" class="btn btn-primary">Добавить</button>
                        <button type="submit" class="btn btn-danger" id="addYet">Добавить еще</button>
                        <button type="reset" class="btn btn-default" id='reset'>Очисить форму</button>*@
                    </div>
                    }                
            </div>
        </div>
    </div>
</main>




@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeleteStudent</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Students</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>

            <dt>
                @Html.DisplayNameFor(model => model.Number)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Number)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>           
    
        </dl>
    
@using (Html.BeginForm())
{
    <input type="hidden" value=@ViewBag.Id name="Id" />
    <input type="submit" value="Удалить" />
}
    </div>
</body>
</html>*@
