@using DiarySchema.Models

@model IEnumerable<Semester>

<table class="table table-hover table-bordered sort" cellspacing="0" id="rez_tab">
    <thead>
        <tr style="border: 1px solid #13008A;">
            <td>Дата поступления</td>
            <td>Дата окончания</td>
            <td>Номер семестра </td>
            <td>Год</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model)
        {
            <tr>
                <td>@b.BeginningDate</td>
                <td>@b.EndDate</td>
                <td>@b.Number</td>
                <td>@b.Year</td>
                <td style="border-style: none;  width: 85px;">
                    <a href="#"><span class="glyphicon glyphicon-edit" title="Редактировать"></span></a>
                    <a href="#myModal" data-toggle="modal" role="dialog" data-backdrop="static"><span class="glyphicon glyphicon-remove" title="Удалить"></span></a>
                </td>
            </tr>
        }       
    </tbody>
</table>









@*@foreach (var b in Model)
            {
    <tr>
        <td><p>@b.Year</p></td>
        <td><p>@b.Number</p></td>
    </tr>
}*@
